.detailBody__ButtonRow {
  justify-content: space-around;

  svg {
    margin-left: 8px;
  }
}

.detailBody__DataRow {
  flex-direction: column;
  margin-bottom: 1rem;

  img {
    align-self: center;
    max-width: 150px;
    max-height: 150px;
    background-color: #8BD7D2;
    border-radius: 50%;
  }
}

.info {
  padding: 16px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #8BD7D2;

  div:first-of-type {
    width: 100%;
  }

  .title {
    font-size: 11px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    letter-spacing: 1px;
  }

  .data {
    flex: 1;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
  }
}

.createBody__Button {
  margin-top: 1rem;
}

.createBody__Container {
  display: flex;
  flex-direction: column;
}