@import "~bootstrap/scss/bootstrap";

#root {
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8BD7D2;
}

.main_container {
  padding: 0;
  height: 100%;
  display: flex;

  .row {
    margin: 0;

    .col {
      padding: 0;
    }
  }
}